@import 'xterm/css/xterm.css';

@import '@picocss/pico/scss/pico.scss';

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;700&display=swap');

:root {
	--font-family: 'Mulish', system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell',
		'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	--primary: #6366f1;
	--primary-hover: #d846ef;
	--primary-focus: #d846ef;
	--error-color: #c62828;
}

th,
td {
	font-size: 0.75rem;
	padding: 0.25rem;
}

button {
	background-image: linear-gradient(to right, var(--tw-gradient-stops));
	--tw-gradient-from: var(--primary);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(99 102 241/0));
	--tw-gradient-to: var(--primary-hover);
}

.error {
	color: var(--error-color);
}

input[type='date'] {
	position: relative;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type='date']::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	color: transparent;
	background: transparent;
}
